@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BFFToy - Đồ chơi các loại</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/adminAsset/images/toy-duck.png">
    <link href="~/adminAsset/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/adminAsset/vendor/chartist/css/chartist.min.css">
    <link href="~/adminAsset/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/adminAsset/css/style.css" rel="stylesheet">
    <link href="~/adminAsset/css/Blog-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <!-- Summernote -->
    <link href="~/adminAsset/vendor/summernote/summernote.css" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link href="~/adminAsset/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

</head>
<body>


    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="/" class="brand-logo">
                <img class="logo-abbr" src="~/adminAsset/images/toy-duck.png" alt="">
                <h1 class="font-weight-bold ml-2 brand-title">BFFToy</h1>
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Chat box start
        ***********************************-->
        <div class="chatbox">
            <div class="chatbox-close"></div>
            <div class="custom-tab-1">
                <ul class="nav nav-tabs">
                    @*<li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#notes">Yêu thích</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#alerts">Giỏ hàng</a>
                    </li>

                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="alerts" role="tabpanel">
                        <div class="card mb-sm-3 mb-md-0 contacts_card" id="miniCart">


                            @await Component.InvokeAsync("MiniCart")
                        </div>
                    </div>
                    @*<div class="tab-pane fade" id="notes">
                    <div class="card mb-sm-3 mb-md-0 note_card" id="miniFavorite">

                    @await Component.InvokeAsync("FavoriteIndex")
                    </div>
                    </div>*@
                </div>
            </div>
        </div>
        <!--**********************************
            Chat box End
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown show">
                                <div class="dropdown-menu p-0 m-0 show">
                                    <form action="#" method="get" class="searchform navbar-form" role="search">
                                        <div class="input-group">
                                            <input class="form-control recomendedsearch" type="search" placeholder="Tìm kiếm..." aria-label="Search">
                                        </div>
                                    </form>
                                </div>
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z" fill="#A4A4A4" /></svg>
                                </span>
                            </div>
                            <div class="search-result">
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            @*<li class="nav-item dropdown notification_dropdown">
                            <a class="nav-link bell bell-link primary" href="#">
                            <i class="lab la-gratipay"></i>
                            </a>
                            <div id="count-item-favorite">
                            @await Component.InvokeAsync("CountFavorite")
                            </div>
                            </li>*@
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell bell-link primary" href="#">
                                    <i class="las la-shopping-bag"></i>

                                </a>
                                <div id="count-item-cart">
                                    @await Component.InvokeAsync("CountItemCart")
                                </div>
                            </li>

                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <div class="header-info">
                                        @if (Context.Session.GetString("CustomerId") != null)
                                        {
                                            <span>Xin chào, <strong>@Context.Session.GetString("CustomerName")</strong></span>

                                        }
                                        else
                                        {
                                            <span>Đăng nhập</span>

                                        }
                                    </div>
                                    @if (Context.Session.GetString("CustomerId") != null)
                                    {
                                        <img src="/images/customers/@Context.Session.GetString("CustomerAvatar")" width="20" alt="" />

                                    }
                                    else
                                    {
                                        <img src="/images/default-avatar.jpg" width="20" alt="" />

                                    }

                                </a>
                                <div class="dropdown-menu dropdown-menu-right">

                                    @if (Context.Session.GetString("CustomerId") != null)
                                    {
                                        <a href="/trang-ca-nhan.html" class="dropdown-item ai-icon">
                                            <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                            <span class="ml-2">Profile </span>
                                        </a>
                                        <a href="/dang-xuat.html" class="dropdown-item ai-icon">
                                            <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                            <span class="ml-2">Đăng xuất </span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/dang-nhap.html" class="dropdown-item ai-icon">
                                            <i class="fa fa-sign-in text-success" aria-hidden="true"></i>
                                            <span class="ml-2">Đăng nhập </span>
                                        </a>

                                    }

                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        @await Html.PartialAsync("_SidebarIndexPartialView.cshtml")
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            @RenderBody()
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/adminAsset/vendor/global/global.min.js"></script>
    <script src="~/adminAsset/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/adminAsset/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="~/adminAsset/js/custom.min.js"></script>
    <script src="~/adminAsset/js/deznav-init.js"></script>
    <script src="~/adminAsset/vendor/owl-carousel/owl.carousel.js"></script>

    <!-- Counter Up -->
    <script src="~/adminAsset/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/adminAsset/vendor/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- Apex Chart -->
    <script src="~/adminAsset/vendor/apexchart/apexchart.js"></script>

    <!-- Chart piety plugin files -->
    <script src="~/adminAsset/vendor/peity/jquery.peity.min.js"></script>

    <!-- Summernote -->
    <script src="~/adminAsset/vendor/summernote/js/summernote.min.js"></script>
    <!-- Summernote init -->
    <script src="~/adminAsset/js/plugins-init/summernote-init.js"></script>

    <!-- SweetAlert 2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- Dashboard 1 -->
    <script src="~/adminAsset/js/dashboard/dashboard-1.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
    <script>


        $('.search-result').hide();
        $('.recomendedsearch').keyup(function() {
            var query = $(this).val();
            if (query != '') {
                $.ajax({
                    url: "/Home/RecommendedSearch",
                    method: "POST",
                    data:
                    {
                        query: query
                    },
                    success: function(res) {
                        $('.search-result').fadeIn();
                        $('.search-result').html(res);
                    }
                });
            }
            else {
                $('.search-result').fadeOut();
            }
        });
    </script>



</body>
</html>