@inject Tfood.Models.tfoodContext _context
@{
	var pages = _context.Pages.ToList();
}
<div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    
					<li><a asp-controller="Home" asp-action="Index" class="ai-icon" aria-expanded="false">
							<i class="fa fa-home" aria-hidden="true"></i>
							<span class="nav-text">Trang chủ</span>
						</a>
					</li>
                    <li><a asp-controller="ProductsIndex" asp-action="Index" class="ai-icon" aria-expanded="false">
							<i class="las la-robot"></i>
							<span class="nav-text">Sản phẩm</span>
						</a>
					</li>
					 <li><a asp-controller="PostsIndex" asp-action="Index" class="ai-icon" aria-expanded="false">
							<i class="fa fa-newspaper-o" aria-hidden="true"></i>
							<span class="nav-text">Tin tức</span>
						</a>
					</li>
					@if (pages != null && pages.Count() > 0)
					{
						@foreach (var item in pages)
						{
							string url = $"/pages-detail/{item.Alias}--{item.Id}.html";
							<li><a href="@url" class="ai-icon" aria-expanded="false">
							<i class="@item.Icon" aria-hidden="true"></i>
							<span class="nav-text">@item.Name</span>
						</a>
					</li>
						}
					}
                 
                </ul>
            
				
				<div class="copyright">
					<p><strong>BFFToy - Web bán đồ chơi</strong> © Xuất bản 2022</p>
					
				</div>
			</div>
        </div>