@model Tfood.Models.Role

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h1>Chỉnh sửa quyền truy cập</h1>

    <hr />


    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Chỉnh sửa quyền truy cập</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form id="roleForm" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input id="hidden-val" type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Tên quyền:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Mô tả:</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary save-btn">Lưu thay đổi</button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-action="Index">Trở về trang trước</a>
            </div>
        </div>


    </div>

</div>

