
@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-5">
                    <div class="form-input-content text-center error-page">
                        <h1 class="error-text font-weight-bold">Cảm ơn</h1>
                        <h4><i class="fa fa-check-circle text-success"></i> Chúng tôi sẽ xác nhận đơn hàng qua điện thoại,
                            hãy chú ý các cuộc gọi đến</p> 
						<div>
                            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Tiếp tục mua hàng</a>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


