<div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="ai-icon active" asp-area="Admin" asp-controller="Home" asp-action="Index" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                        
                    </li>
                 
                    <li><a asp-area="Admin" asp-controller="Products" asp-action="Index" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-gift"></i>
							<span class="nav-text">Quản lý sản phẩm</span>
						</a>
					</li>
                   

                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-layer-1"></i>
							<span class="nav-text">Quản lý danh mục</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index">Danh mục sản phẩm</a></li>
                            <li><a asp-area="Admin" asp-controller="PostCategories" aasp-action="Index">Danh mục bài viết</a></li>
                        </ul>
                    </li>
                    
                    <li><a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-note"></i>
							<span class="nav-text">Quản lý đơn hàng</span>
						</a>
                    </li>
                    <li><a asp-area="Admin" asp-controller="Customers" asp-action="Index" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-user-9"></i>
							<span class="nav-text">Quản lý Khách hàng</span>
						</a>
					</li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-settings-2"></i>
							<span class="nav-text">Hệ thống</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a asp-area="Admin" asp-controller="Roles" asp-action="Index">Quản lý quyền truy cập</a></li>
                            <li><a asp-area="Admin" asp-controller="Accounts" asp-action="Index">Quản lý tài khoản</a></li>
                       
                        </ul>
                    </li>
                    <li><a asp-area="Admin" asp-controller="Pages" asp-action="Index" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-windows"></i>
							<span class="nav-text">Quản lý Pages</span>
						</a>
                        
                    </li>
					<li><a asp-area="Admin" asp-controller="Posts" asp-action="Index" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-edit-1"></i>
							<span class="nav-text">Quản lý bài viết</span>
						</a>
                        
                    </li>
                </ul>
            
				
				<div class="copyright">
					<p><strong>Trang quản trị BFFToy</strong> © xuất bản 2022</p>
					
				</div>
			</div>
        </div>