
@{
    ViewData["Title"] = "AccessDeniedView";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-5">
                    <div class="form-input-content text-center error-page">
                        <h1 class="error-text font-weight-bold">403</h1>
                        <h4><i class="fa fa-times-circle text-danger"></i>Bạn không có quyền truy cập chức năng này</p> 
						<div>
                            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Quay lại trang chủ</a>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

